{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .oba_main_background_image_container {
    min-height: 72vh;
    background-color: white;
  }

  .oba_main_background_image_container img {
    height: 80vh;
    width: 100%;
    object-fit: contain;
  }

  #Banner-{{ section.id }}::after{
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }

  @media only screen and (max-width: 768px) {
    .oba_main_background_image_container {
      height: 45vh;
      min-height: 30vh;
    }
    .oba_main_background_image_container img {
      height: 45vh;
      width: 100%;
      object-fit: none;
    }
  }
{%- endstyle -%}

<a href="/collections/all">
  <div id="Banner-{{ section.id }}" class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} {% if section.settings.stack_images_on_mobile and section.settings.image != blank %} banner--stacked{% endif %}{% if section.settings.adapt_height_first_image and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %} oba_main_background_image_container">

    {%- if section.settings.image != blank -%}
      {%-liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        assign sizes = "100vw"
        assign image_class = ""
      -%}
      {{ section.settings.image | image_url: width: 1500 | image_tag:
       loading: 'lazy'
       , width: section.settings.image.width
       , height: image_height
       , class: image_class
       , sizes: sizes
       , widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
       , alt: section.settings.image.alt | escape
       }}
    {%- endif -%}

  </div>
</a>

{% schema %}
  {
    "name": "Obaklava Image Banner",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.image-banner.settings.image.label"
      }
    ],
    "presets": []
  }
{% endschema %}